@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br>
<p>
    Information we give you

    When you visit the Currency Quotes Site, we provide daily quotes for the main world currencies.
</p>
<p>
    Our team strives to provide the greatest quantity and quality of information in order to provide direct and objective knowledge and analysis.
</p>