@model QuotationModel;
@{
    ViewData["Title"] = "Include Quote";
}
<div class="text-center">

    <h1 class="display-4"> Include Quote </h1>

</div>

<form asp-controller="Actions" asp-action="Include" method="post">
    <div class="form-group">
        <label for="currency"> Currency </label>
        <input type="text" asp-for="Currency" class="form-control" placeholder="Insert currency">
    </div>

    <div class="form-group">
        <label for="symbol"> Symbol </label>
        <input type="text" asp-for="Symbol" class="form-control" placeholder="Insert symbol">
    </div>

    <div class="form-group">
        <label for="value"> Value </label>
        <input type="text" asp-for="Value" class="form-control" placeholder="Insert value">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button"> Back to Home</a>
</form>


