@{
    ViewData["Title"] = "Quotation listing";
}
<div class="text-center">

    <h1 class="display-4"> Quotation listing </h1>

</div>

    <div>
        <a class="btn btn-success" role="button" asp-controller="Actions" asp-action="Include"> Add new quote </a>
    </div>